
/* GENERAL */
body {
  font-family: 'Ubuntu', cursive;
  font-weight: 300;
  font-size: 22px;
}

h1 {
  font-family: 'Ubuntu', cursive;
  font-weight: 400;
  font-size: 60px;
  text-align: center;
}

.intro {
  margin-top: 100px;
}

/* LIENS */
a {
  text-decoration: none;
  color: blue;
}

a:hover {
  font-weight: bold;
}

/* ARTICLES */
article {
  font-family: 'Ubuntu', cursive;
  font-weight: 300;
  font-size: 22px;
  margin: 100px 0 100px 0;
}

.date {
  font-size: 14px;
}

.sous-titre {
  font-family: 'Indie Flower', cursive;
  font-weight: 600;
  font-size: 26px;
}

.titre {
  font-family: 'Permanent Marker', cursive;
  font-weight: 400;
  font-size: 40px;
}

.preview {
  border-radius: 20px;
  max-width: 600px;
  max-height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tags {
  font-size: 12px;
}

.tags a, .tags a:hover {
  text-decoration: none;
  color: white;
  font-weight: 300;
}

.my-tag {
  margin: 0 2px 0 2px;
  padding-top: 2px;
  padding-bottom: 2px;
}