
/* GENERAL */
body {
  font-family: 'Ubuntu', cursive;
  font-weight: 300;
  font-size: 22px;
}

main {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto auto auto;
}

h1 {
  font-family: 'Indie Flower', cursive;
  font-weight: 400;
  font-size: 80px;
  text-align: center;
  margin: 0;
}

h2 {
  font-family: 'Indie Flower', cursive;
  font-weight: 300;
  font-size: 22px;
  text-align: center;
  margin: 0;
}

.intro {
  margin-top: 100px;
}

.intro strong {
  font-weight: 600;
}

/* LIENS */
a {
  text-decoration: none;
  color: blue;
}

a:hover {
  font-weight: bold;
}

/* ARTICLES */
article {
  font-family: 'Ubuntu', cursive;
  font-weight: 300;
  font-size: 22px;
  margin: 100px 0px 100px 0px;
  display: flex;
}

.colonne1 {
  display: flex;
  flex-direction: column;
}

.colonne2 {
  margin: auto 0px auto 50px;
}

.gros-titre {
  display: flex;
  align-items: baseline;
}

.titre {
  font-family: 'Permanent Marker', cursive;
  font-weight: 400;
  font-size: 40px;
  margin-right: 30px;
}

.date {
  font-size: 14px;
  margin: 0;
}

.sous-titre {
  font-family: 'Indie Flower', cursive;
  font-weight: 600;
  font-size: 26px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.preview {
  border-radius: 20px;
  max-width: 500px;
  max-height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.desc {
  margin-top: 10px;
  margin-bottom: 10px;
}

.tags {
  font-size: 12px;
}

.tags a, .tags a:hover {
  text-decoration: none;
  color: white;
  font-weight: 300;
}

.my-tag {
  margin: 0 2px 0 2px;
  padding-top: 2px;
  padding-bottom: 2px;
}